.heroSection {
  display: flex;
  position: relative;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.effect1 {
  position: absolute;

  width: 68px;
  height: 74px;
  top: 20px;
  left: 15px;
}

.effect2 {
  position: absolute;

  width: 160px;
  top: 482px;
  left: 740px;
}

.heroImage {
  height: 873px;
  max-width: 650px;
}

.titleWrapper {
  margin-left: 55px;
}

.title {
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  font-weight: 400;
  width: 526px;

  letter-spacing: 6px;
}

.titleSpan {
  font-weight: 700;
  font-size: 80;
  letter-spacing: 6px;
}

.nextSpan {
  font-size: 75px;
}

.subtitle {
  font-size: 15px;
  line-height: 24px;
}

.listenOn {
  display: flex;
  margin-top: 20px;
  gap: 22px;
}
